#myCanvas
{
   border: 5px solid lightgrey;
   display: block;
   margin: 0 auto;
   margin-top: 50px;
   border-radius: 5px;
}

button
{
   display: block;
   margin: 0 auto;
   margin-top: 5px;
   padding: 1em;
   border-radius: 5px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
   font-size: 1.2em;
   outline: 0;
}
